$material-symbols-font-path: '~material-symbols/';
@import 'material-symbols';

@font-face {
    font-family: 'futura';
    src: url(../assets/Futura-Font-Family/futur.ttf);
}

* {
    font-family: futura, sans-serif;
}

body {
  background: url('../assets/829697_A green field of rolling hills, with a forest in t_xl-1024-v1-0.png')
    center center/cover no-repeat fixed;
}

@mixin card {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(10px);
  padding: 0.5rem;
}

@mixin focused-input {
    outline: none;
    box-shadow: 0 0 0 1.5px rgba(0, 118, 214, 1) inset;
}

.search {
  @include card;
  margin: 4rem auto;
  width: 50%;
}

.search__form {
  display: flex;
  justify-content: center;
  
    .search__bar {
      border: 1px solid grey;
      border-radius: 10px 0 0 10px;
      width: 70%;
      padding-left: 0.8rem;
      
      &:focus-visible {
        @include focused-input();
      }
    }

    .search__button {
      border: 1px solid grey;
      border-radius: 0 10px 10px 0;
      width: 10%;

      &:focus-visible{
        @include focused-input()
      }
    }
}

.display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 50%;
  display: grid;
  grid-template: repeat(3, minmax(30px, 0.3fr)) / repeat(4, minmax(100px, 1fr));
  gap: 1rem;
  grid-template-areas: 'temp temp temp feels-like' 'wind precip uv humidity' 'forecast forecast forecast forecast';

  .display__component {
    @include card;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &--temp {
      grid-area: temp;
    }

    &--feels-like {
      grid-area: feels-like;

      h5::before {
        content: 'thermostat';
      }
    }

    &--wind {
      grid-area: wind;

      h5::before {
        content: 'air';
      }
    }

    &--precip {
      grid-area: precip;

      h5::before {
        content: 'water_drop';
      }
    }

    &--uv {
      grid-area: uv;

      h5::before {
        content: 'clear_day';
      }
    }

    &--humidity {
      grid-area: humidity;

      h5::before {
        content: 'airwave';
      }
    }

    &--forecast {
        grid-area: forecast;

        h5::before {
          content: 'calendar_month';
        }
    }

    h5::before {
      font-family: 'Material Symbols Outlined';
      display: inline-block;
      height: 24px;
      width: 24px;
      font-size: 0.9rem;
    }

    h5 {
      position: absolute;
      display: inherit;
      top: 5%;
      left: 5%;
      font-size: 0.9rem;
    }

    p {
      margin: 0;
      font-size: 1.8rem;
    }
  
    &:after {
      content: '';
      display: block;
      height: 100%;
    }
  }
}
